<div class="navigation-page">
  <div class="nav-text">
  <span>Jokebox’s collection of party packs</span>
  <h1>Feel free to select a party pack.</h1>
  <p>Each party pack includes five unique games. So far, we’ve created 10 different packs. Each pack features a variety of games designed to entertain everyone-whether they’re in the room, on a Zoom call, or watching a Twitch stream. From drawing games and writing challenges to trivia and hidden identity games, no party guest gets left out.</p>
  </div>
  <div class="nav-games">
    <nav>
      <a
        [routerLink]="['/info']" >
        <img src="/img/new-content%201.webp" class="games-img">
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/info']" >
        <img src="/img/new-content%202.webp" class="games-img">
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/info']" >
        <img src="/img/new-content%203.webp" class="games-img">
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/info']" >
        <img src="/img/new-content%204.webp" class="games-img">
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/info']" >
        <img src="/img/new-content%201.webp" class="games-img">
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/info']" >
        <img src="/img/new-content%202.webp" class="games-img">
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/info']" >
        <img src="/img/new-content%203.webp" class="games-img">
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/info']" >
        <img src="/img/new-content%204.webp" class="games-img">
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/info']" >
        <img src="/img/new-content%201.webp" class="games-img">
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/info']" >
        <img src="/img/new-content%202.webp" class="games-img">
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/info']" >
        <img src="/img/new-content%203.webp" class="games-img">
      </a>
    </nav>
    <nav>
      <a
        [routerLink]="['/info']" >
        <img src="/img/new-content%204.webp" class="games-img">
      </a>
    </nav>
  </div>

</div>
